@use '../components/mixins/heading' as h;

.testimonials {
    padding: 3rem 5%;
    background-color: black;
    color: white;

    .testimonials-content {
        text-align: center;

        .testimonials-header {
            @include h.heading;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        .testimonials-row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 2rem;
        }

        .testimonials-name {
            font-size: 1.5rem;
            font-weight: bolder;
            color: white;
        }

        .testimonials-text {
            font-family: $cursive;
            color: #999;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 2rem;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 5rem 25%;
    }
}
